<!DOCTYPE html>
<html>
<head>
  <title>File Read</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
	<div id="header">
		<h1><a href="/">File Read</a></h1>
	</div>
</header>
<body>

<%= yield %>

</body>
<footer>
	<div id="copyright">
		Copyright © 2016 Piyush Awasthi. All Rights Reserved.
	</div>
</footer>
</html>
